<template>
  <div :class="['vc', 'vc-chat', 'pa-16']" :style="{width: width, height: height, overflow: 'auto'}">
    <ul aria-label="list">
      <vc-chat-baloon v-for="(item, index) in transcript.items" :key="index" :data="item" />
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcChat',
  watch: {
    'transcript.items' () {
      // return the last posted item
      this.$emit('update', this.transcript.items.slice(-1).pop())
      this.scrollToBottom()
    }
  },
  props: {
    transcript: {
      type: Object,
      required: true
    },
    width: {
      type: String,
      required: false
    },
    height: {
      type: String,
      required: false
    }
  },
  mounted () {
    this.scrollToBottom()
  },
  methods: {
    scrollToBottom () {
      const chat = document.querySelector('.vc-chat')
      this.$nextTick(() => {
        chat.scrollTop = chat.scrollHeight
      })
    }
  }
}
</script>
<style>
.vc-chat > ul,
.vc-chat > ul > li
{
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>
