<template>
  <li @click="$emit('click')" :disabled="disabled" role="listitem">
    <span :class="['vc-table-layout']" :is="tag" :href="to" :to="to" :target="target">
      <span>
        <span :class="['align-center']">
          <vc-icon v-if="avatar && iconType === 'icon'" size="large">{{ avatar }}</vc-icon>
          <vc-avatar size="40" v-else-if="avatar && iconType === 'avatar'" :src="avatar" />
        </span>
        <span :class="['align-left']">
          <slot></slot>
        </span>
        <span :class="['align-right']">
          <vc-icon v-if="icon">{{ icon }}</vc-icon>
        </span>
      </span>
    </span>
  </li>
</template>
<script>
export default {
  name: 'VcListItem',
  data () {
    return {
      iconType: 'icon'
    }
  },
  props: {
    tag: {
      type: String,
      required: false,
      default: 'span'
    },
    avatar: {
      type: String,
      required: false
    },
    icon: {
      type: String,
      required: false
    },
    to: {
      type: String
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    target: {
      type: String,
      default: '_self'
    }
  },
  mounted () {
    if (this.avatar && this.avatar.search(/(\.)/g) !== -1) {
      this.iconType = 'avatar'
    }
  }
}
</script>
