<template>
  <transition name="scale">
    <li role="listitem" :class="['vc-chat-baloon', data.me ? 'vc-chat-balloon-sent' : 'vc-chat-balloon-received']">
      <div>
        <div :class="['vc-table-layout']">
          <div>
            <div v-if="data.avatar" :class="['vc-chat-balloon-avatar']">
              <vc-avatar :src="data.avatar" size="32" :class="['elevation-4']" />
            </div>
            <div>
              <div v-html="data.name" :class="['body-2', 'font-grey', 'font-l-700', 'ellipsis']" />
            </div>
            <div v-if="data.timestamp" :class="['vc-chat-balloon', 'align-right']">
              <div v-html="data.timestamp" :class="['body-2', 'font-grey', 'font-l-400', 'ellipsis']" />
            </div>
          </div>
        </div>
        <div v-html="data.body" :class="[data.color, 'vc-chat-baloon-body', 'elevation-4']" />
      </div>
    </li>
  </transition>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcChatBaloon',
  mixins: [
    props
  ],
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}
</script>
<style>
.scale-enter,
.scale-leave-to
{
  transform: scale(0);
}

.vc-chat-baloon > div
{
  margin: 8px;
  display: inline-block;
  vertical-align: top;
  max-width: 60%;
  min-width: 30%;
  width: 100%;
  text-align: left;
}

.vc-chat-baloon .vc-chat-baloon-body
{
  padding: 16px;
  border-radius: 8px;
}

.vc-chat-baloon .vc-chat-balloon-avatar
{
  width: 40px;
}

.vc-chat-baloon .vc-table-layout > * > *
{
  padding: 8px 4px;
}

.vc-chat-baloon.vc-chat-balloon-sent
{
  text-align: right;
}

.scale-enter-active
{
  transition: all .75s ease;
}
.scale-leave-active
{
  transition: all .75s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
</style>
