<template>
  <div role="presentation" :class="['vc', 'vc-toolbar', color, narrow ? 'vc-narrow' : null, fixed ? ['elevation-8', 'vc-toolbar-fixed'] : null, dark ? 'vc-dark' : 'vc-light', application ? ['vc-application'] : null]" :is="tag">
    <div :class="['vc-table-layout']">
      <div>
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcToolbar',
  props: {
    tag: {
      type: String,
      required: false,
      default: 'div'
    },
    application: {
      type: Boolean,
      required: false
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    fixed: {
      type: Boolean,
      required: false,
      default: false
    },
    narrow: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
<style>
.vc-toolbar
{
  line-height: 64px;
  transition: all .3s ease-in-out;
}

.vc-toolbar.vc-narrow
{
  line-height: 48px;
}

.vc-toolbar-icon
{
  width: 48px;
  flex-basis: 48px;
  text-align: center;
}

.vc-toolbar-icon .vc-button
{
  margin: 0;
}

.vc-toolbar > .vc-table-layout
{
  display: block;
}

.vc-toolbar > .vc-table-layout > div
{
  display: flex;
  flex-direction: row;
}

.vc-toolbar > .vc-table-layout > * > *:empty
{
  display: none;
}

.vc-toolbar .vc-toolbar-icon-left + .vc-toolbar-title
{
  padding-left: 0;
}

.vc-toolbar .vc-toolbar-controls-left,
.vc-toolbar .vc-toolbar-controls-right
{
  white-space: nowrap;
}

.vc-toolbar.vc-toolbar-fixed
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.vc-toolbar.vc-application.vc-toolbar-fixed
{
  position: fixed;
}

@media (max-width: 960px)
{
  .vc-toolbar.vc-application.vc-toolbar-fixed
  {
    line-height: 48px;
  }
}
</style>
