<template>
  <div aria-readonly role="progressbar" :name="name" :class="['vc', 'vc-progress', indeterminate ? 'vc-progress-indeterminate' : null]" :style="{width: width}" :disabled="disabled">
    <div :style="{height: `${height}px`}" :class="[trackColor]">
      <div :style="{height: `${height}px`, width: `${fill}%`}" :class="[progressColor]"></div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcProgress',
  props: {
    fill: {
      type: Number,
      required: false,
      default: 0,
      validator: (value) => {
        if (value > 100 || value < 0) {
          console.warn(`[vc-progress] the "fill" property value should be between 0 and 100. Current value is "${value}".`)
          return false
        }
        return true
      }
    },
    name: {
      type: String,
      required: true
    },
    trackColor: {
      type: String,
      required: false,
      default: 'blue l-100'
    },
    progressColor: {
      type: String,
      required: false,
      default: 'blue'
    },
    indeterminate: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    height: {
      type: Number,
      required: false,
      default: 7
    },
    width: String,
    required: false,
    default: null
  },
  watch: {
    fill () {
      this.$emit('progress', {
        name: this.name,
        fill: this.fill
      })
    }
  }
}
</script>
<style>
.vc-progress
{
  padding: 16px 0;
  overflow: hidden;
}

.vc-progress > div
{
  height: 7px;
}

.vc-progress > div > div
{
  transition: width .4s cubic-bezier(.600, -.280, .735, .045);
}

.vc-progress[disabled]
{
  opacity: .5;
  cursor: not-allowed;
}

.vc-progress.vc-progress-indeterminate > div
{
  position: relative;
}

.vc-progress.vc-progress-indeterminate > div > div
{
  position: absolute;
  animation: indeterminate 2s linear infinite;
}

@keyframes indeterminate
{
  from
  {
    width: 0;
  }

  to
  {
    width: 100%;
  }
}
</style>
