<template>
  <div :style="{zIndex: zIndex}" :class="['vc', 'vc-notification', `vc-notification-${horizontal}`, `vc-notification-${vertical}`]">
    <div :class="['vc-notification-container', 'vc-table-layout']">
      <div>
        <div>
          <transition-group name="notification-scale">
            <vc-alert
              @click="remove(item.timestamp)"
              :class="['elevation-24', item.dismissable ? 'vc-notification-dismissable' : null]"
              :color="item.color"
              :dark="item.dark"
              :dismissable="item.dismissable"
              :icon="item.icon"
              v-for="(item, index) in items" :key="index"
            >{{ item.text }}</vc-alert>
          </transition-group>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcNotification',
  data () {
    return {
      items: []
    }
  },
  props: {
    name: {
      type: String,
      required: true
    },
    delay: {
      type: Number,
      required: false,
      default: 5000
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    dismissable: {
      type: Boolean,
      required: false
    },
    horizontal: {
      type: String,
      required: false,
      default: 'right' // left. right
    },
    vertical: {
      type: String,
      required: false,
      default: 'bottom' // top, middle/center, bottom
    },
    zIndex: {
      type: Number,
      required: false,
      default: 2000
    }
  },
  created () {
    this.$root.$on('vc:notification', notification => {
      if (notification.name === this.name) {
        this.add(notification)
      }
    })
  },
  methods: {
    remove (timestamp) {
      this.items.splice(this.items.findIndex(item => item.timestamp === timestamp), 1)
      clearTimeout(this[timestamp])
      this.$emit('removed', {name: this.name})
      delete this[timestamp]
    },
    add (notification) {
      const timestamp = new Date().getTime()
      const vertical = this.vertical
      const data = {
        text: notification.text,
        icon: notification.icon,
        timestamp: timestamp,
        delay: notification.delay || this.delay,
        color: notification.color || this.color,
        dark: notification.dark,
        dismissable: notification.dismissable
      }
      switch (vertical) {
        case 'top':
          this.items.unshift(data)
          break
        case 'bottom':
        case 'middle':
        case 'center':
          this.items.push(data)
          break
      }
      this[timestamp] = setTimeout(() => {
        this.remove(timestamp)
      }, data.delay)
      data.name = this.name
      this.$emit('added', data)
    }
  }
}
</script>
<style>
.vc-notification,
.vc-notification .vc-alert .vc-alert-dismiss-wrapper
{
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.vc-notification
{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 332px;
}

.vc-notification-right
{
  right: 0;
}

.vc-notification-left
{
  left: 0;
}

.vc-notification .vc-notification-container.vc-table-layout
{
  height: 100%;
}

.vc-notification .vc-notification-container.vc-table-layout > div > div
{
  padding: 0 16px;
}

.vc-notification.vc-notification-top .vc-notification-container.vc-table-layout > div > div
{
  vertical-align: top;
}

.vc-notification.vc-notification-middle .vc-notification-container.vc-table-layout > div > div,
.vc-notification.vc-notification-center .vc-notification-container.vc-table-layout > div > div
{
  vertical-align: middle;
}

.vc-notification.vc-notification-bottom .vc-notification-container.vc-table-layout > div > div
{
  vertical-align: bottom;
}

.vc-notification .vc-notification-dismissable.vc-alert
{
  -webkit-pointer-events: all;
  -moz-pointer-events: all;
  pointer-events: all;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.notification-scale-enter
{
  transform: scale(0);
}

.notification-scale-enter-to
{
  transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.notification-scale-leave
{
  opacity: 1;
}

.notification-scale-leave-to
{
  opacity: 0;
  transition: all .5s ease-in-out;
}

@media (max-width: 480px)
{
  .vc-notification
  {
    width: 100%;
  }
}
</style>
