<template>
  <div :class="['vc-dialog-content']" :style="{maxHeight: maxHeight}">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'VcDialogContent',
  props: {
    maxHeight: {
      type: String,
      required: false,
      default: null
    }
  }
}
</script>
<style>
.vc-dialog-content
{
  padding: 16px;
  font-size: 14px;
  overflow: auto;
}
</style>
