<template>
  <div :style="{zIndex: zIndex}" v-if="visible" :class="['vc', 'vc-cookie-consent', fixed ? ['vc-cookie-consent-fixed', position === 'bottom' ? 'elevation-up-8' : 'elevation-8', `vc-cookie-consent-${position}`] : null, application ? 'vc-application' : null]">
    <vc-toolbar :narrow="narrow" :color="color" :dark="dark">
      <vc-toolbar-title width="55%">
        <slot />
      </vc-toolbar-title>
      <vc-toolbar-controls-right>
        <vc-button
          v-if="readButton"
          :dark="buttonsDark"
          :color="buttonsColor"
          :tag="readButtonTag"
          :to="readButtonTo"
          :size="narrow ? 'small' : 'normal'">{{ readText }}</vc-button>
        <vc-button
          v-if="dismissButton"
          @click="dismiss"
          :dark="buttonsDark"
          :color="buttonsColor"
          :size="narrow ? 'small' : 'normal'">{{ dismissText }}</vc-button>
      </vc-toolbar-controls-right>
    </vc-toolbar>
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcCookieConsent',
  mixins: [
    props
  ],
  data () {
    return {
      visible: true
    }
  },
  props: {
    cookieName: {
      type: String,
      required: false,
      default: '__vc_cookie_consent__'
    },
    cookieDays: {
      type: Number,
      required: false,
      default: -1
    },
    narrow: {
      type: Boolean,
      required: false,
      default: true
    },
    buttonsColor: {
      type: String,
      required: false,
      default: 'warning'
    },
    color: {
      type: String,
      required: false,
      default: 'grey l-800'
    },
    buttonsDark: {
      type: Boolean,
      required: false,
      default: false
    },
    dismissText: {
      type: String,
      required: false,
      default: 'Dismiss'
    },
    readButtonTag: {
      type: String,
      required: false,
      default: 'a'
    },
    readButtonTo: {
      type: String,
      required: false,
      default: '/'
    },
    readText: {
      type: String,
      required: false,
      default: 'Policy'
    },
    dismissButton: {
      type: Boolean,
      required: false,
      default: true
    },
    readButton: {
      type: Boolean,
      required: false,
      default: true
    },
    application: {
      type: Boolean,
      required: false
    },
    fixed: {
      type: Boolean,
      required: false,
      default: false
    },
    position: {
      type: String,
      required: false,
      default: 'bottom' // 'top', 'bottom'. works only if "fixed" is true
    },
    zIndex: {
      type: Number,
      required: false,
      default: 1000
    }
  },
  mounted () {
    if (this.getCookie(this.cookieName)) {
      this.visible = false
    }
  },
  methods: {
    dismiss () {
      this.setCookie(this.cookieName, true, this.cookieDays)
      this.visible = false
    },
    setCookie (name, value, days) {
      const d = new Date()
      let expires

      d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000))
      expires = `expires=${d.toUTCString()}`
      document.cookie = `${name}=${value};${expires}`
    },
    getCookie (name) {
      const dc = document.cookie
      const prefix = name + '='
      let begin = dc.indexOf('; ' + prefix)

      if (begin === -1) {
        begin = dc.indexOf(prefix)
        if (begin !== 0) {
          return null
        }
      } else {
        begin += 2
        var end = document.cookie.indexOf(';', begin)

        if (end === -1) {
          end = dc.length
        }
      }
      return unescape(dc.substring(begin + prefix.length, end))
    }
  }
}
</script>
<style>
.vc-cookie-consent
{
  display: block;
}

.vc-cookie-consent .vc-toolbar-title > div
{
  font-size: 12px;
}

.vc-cookie-consent .vc-button
{
  margin-left: 0;
  padding: 0;
  min-width: 64px;
}

.vc-cookie-consent.vc-cookie-consent-fixed
{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

.vc-cookie-consent.vc-cookie-consent-fixed.vc-cookie-consent-top
{
  top: 0;
}

.vc-cookie-consent.vc-cookie-consent-fixed.vc-cookie-consent-bottom
{
  bottom: 0;
}

@media (max-width: 480px) {
  .vc-cookie-consent .vc-toolbar .vc-table-layout,
  .vc-cookie-consent .vc-toolbar .vc-table-layout > *,
  .vc-cookie-consent .vc-toolbar .vc-table-layout > * > *
  {
    display: block;
  }

  .vc-cookie-consent .vc-toolbar .vc-table-layout > * > *:first-child
  {
    line-height: 32px;
  }

  .vc-cookie-consent *
  {
    text-align: center;
  }
}
</style>
