<template>
  <span role="img" @click="$emit('click', name)" :is="tag" :to="href" :href="href" :class="['vc', 'vc-avatar', color, tile ? 'vc-avatar-tile' : '']" :style="style">
    <img :src="src" :alt="src" :width="size" :height="size" />
  </span>
</template>
<script>
export default {
  name: 'VcAvatar',
  data () {
    return {
      style: {
        width: `${this.size}px`,
        height: `${this.size}px`
      }
    }
  },
  props: {
    src: {
      type: String,
      required: true
    },
    size: {
      type: [Number, String],
      required: false,
      default: 128
    },
    tag: {
      type: String,
      required: false,
      default: 'span'
    },
    name: {
      type: String,
      required: false
    },
    color: {
      type: String,
      required: false,
      default: 'transparent'
    },
    href: {
      type: String,
      required: false
    },
    tile: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
<style>
.vc-avatar
{
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 100%;
  user-select: none;
}

.vc-avatar.vc-avatar-tile
{
  border-radius: initial;
}

.vc-avatar img
{
  display: block;
  border-radius: inherit;
}

a.vc-avatar
{
  cursor: pointer;
}
</style>
