<template>
  <div role="navigation" :class="[application ? 'vc-full-size' : null]">
    <div @click="$emit('input', false)" v-if="temporary && visible" :class="['vc-nav-drawer-temporary-blocker', dark ? 'vc-dark' : 'vc-light']" />
    <div :is="tag" :class="['vc', 'vc-nav-drawer', color, visible ? 'vc-nav-drawer-visible' : null, application ? ['vc-application'] : null, 'elevation-8', fixed ? 'vc-nav-drawer-fixed' : '', temporary ? 'vc-nav-drawer-temporary' : null, right ? 'vc-nav-drawer-right' : null, dark ? 'vc-dark' : 'vc-light']" :style="style">
      <div role="menubar">
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcNavDrawer',
  data () {
    return {
      boxes: []
    }
  },
  model: {
    prop: 'visible',
    event: 'input'
  },
  props: {
    color: {
      type: String,
      required: false,
      default: 'white'
    },
    width: {
      type: Number,
      required: false,
      default: 300
    },
    tag: {
      type: String,
      required: false,
      default: 'div'
    },
    application: {
      type: Boolean,
      required: false
    },
    fixed: { // if set to true and application is true, it will push the other elements with vc-application class to the left or to the right
      type: Boolean,
      required: false
    },
    right: {
      type: Boolean,
      required: false
    },
    visible: {
      type: Boolean,
      required: false
    },
    temporary: {
      type: Boolean,
      required: false
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  watch: {
    visible () {
      this.move()
    },
    '$route.path' () {
      if (this.temporary) {
        this.$emit('input', false)
      }
    }
  },
  computed: {
    style () {
      const width = this.width
      if (!this.right) {
        return {
          width: `${width}px`,
          left: this.visible ? 0 : `-${width}px`
        }
      }
      return {
        width: `${width}px`,
        right: this.visible ? 0 : `-${width}px`
      }
    }
  },
  methods: {
    move () {
      const appElements = document.querySelectorAll('.vc-application:not(.vc-nav-drawer):not(.vc-loading-overlay)')
      const width = `${this.width}px`
      const fixed = this.fixed
      const application = this.application
      const visible = this.visible
      const right = this.right
      if (application && fixed && !right) {
        [].forEach.call(appElements, (appElement) => {
          appElement.style.marginLeft = visible ? width : 0
        })
      } else if (application && fixed && right) {
        [].forEach.call(appElements, (appElement) => {
          appElement.style.marginRight = visible ? width : 0
        })
      }
    }
  },
  mounted () {
    if (!this.application) {
      // console.log(this.$el.parentNode)
      this.$el.parentNode.classList.add('vc-nav-drawer-relative-parent')
    }
    this.move()
  }
}
</script>
<style>
.vc-nav-drawer
{
  transition: all .25s ease-out;
  overflow: auto;
  position: absolute;
}

.vc-nav-drawer.vc-application
{
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 550;
}

.vc-nav-drawer:not(.vc-nav-drawer-visible)
{
  box-shadow: none !important;
}

.vc-nav-drawer.vc-nav-drawer-right.vc-application
{
  unicode-bidi: bidi-override;
  direction: rtl;
}

.vc-nav-drawer.vc-nav-drawer-right.vc-application > div
{
  unicode-bidi: initial;
  direction: initial;
}

.vc-nav-drawer-temporary-blocker
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .4);
  z-index: 550;
}

.vc-nav-drawer-temporary-blocker.vc-light
{
  background: rgba(0, 0, 0, .2);
}

.vc-full-size
{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 550;
}

.vc-nav-drawer-relative-parent
{
  position: relative;
  overflow: hidden;
}

.vc-nav-drawer-relative-parent .vc-nav-drawer-temporary-blocker
{
  position: absolute;
}

.vc-nav-drawer-relative-parent .vc-nav-drawer
{
  height: 100%;
  z-index: 550;
}

.vc-nav-drawer-relative-parent .vc-nav-drawer-temporary
{
  top: 0;
}
</style>
