<template>
  <transition name="opacity">
    <div aria-label="loading" :style="{zIndex: zIndex}" v-if="visible" :class="['vc', 'vc-loading-overlay', 'no-select', dark ? 'vc-dark' : 'vc-light', application ? 'vc-application' : null]">
      <vc-icon :size="spinnerSize" :color="spinnerColor">{{ spinnerIcon }}</vc-icon>
    </div>
  </transition>
</template>
<script>
export default {
  name: 'VcLoadingOverlay',
  data () {
    return {
      relativeParentCssClass: 'vc-loading-overlay-relative-parent'
    }
  },
  props: {
    zIndex: {
      type: Number,
      required: false,
      default: 1250
    },
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    spinnerColor: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      default: true
    },
    application: {
      type: Boolean,
      required: false
    },
    spinnerSize: {
      type: String,
      required: false,
      default: 'normal' // x-small, small, normal, medium, large, x-large
    },
    spinnerIcon: {
      type: String,
      required: false,
      default: 'mdi-loading'
    }
  },
  methods: {
    getParent () {
      return this.$parent.$el
    },
    setParentRelative () {
      this.getParent().classList.add(this.relativeParentCssClass)
    }
  },
  watch: {
    visible () {
      if (this.visible) {
        return this.setParentRelative()
      }
      setTimeout(() => {
        return this.getParent().classList.remove(this.relativeParentCssClass)
      }, 300)
    }
  },
  mounted () {
    if (this.visible) {
      this.setParentRelative()
    }
  }
}
</script>
<style>
.vc-loading-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .4);
  cursor: wait;
}

.vc-loading-overlay.vc-light
{
  background: rgba(0, 0, 0, .2);
}

.vc-loading-overlay.vc-application
{
  position: fixed;
}

.vc-loading-overlay .vc-icon
{
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotating 2s linear infinite;
  font-weight: bold;
  margin: -32px 0 0 -32px;
}

.vc-loading-overlay .vc-icon.vc-icon-x-small
{
  font-size: 1.5rem;
}

.vc-loading-overlay .vc-icon.vc-icon-small
{
  font-size: 2.5rem;
}

.vc-loading-overlay .vc-icon.vc-icon-normal
{
  font-size: 3rem;
}

.vc-loading-overlay .vc-icon.vc-icon-medium
{
  font-size: 4rem;
}

.vc-loading-overlay .vc-icon.vc-icon-large
{
  font-size: 5rem;
}

.vc-loading-overlay .vc-icon.vc-icon-x-large
{
  font-size: 6rem;
}

.vc-loading-overlay-relative-parent
{
  position: relative;
  overflow: hidden !important;
}

.opacity-enter,
.opacity-leave-to
{
  opacity: 0;
}

.opacity-enter-active
{
  transition: opacity .3s ease;
}
.opacity-leave-active
{
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

@keyframes rotating
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }
}
</style>
