.ma-0
{
    margin: 0;
}

.mt-0
{
    margin-top: 0;
}

.mr-0
{
    margin-right: 0;
}

.mb-0
{
    margin-bottom: 0;
}

.ma-2
{
    margin: 2px;
}

.ma-4
{
    margin: 4px;
}

.ma-8
{
    margin: 8px;
}

.mt-16
{
    margin-top: 16px;
}

.mr-16
{
    margin-right: 16px;
}

.mb-16
{
    margin-bottom: 16px;
}

.ml-16
{
    margin-left: 16px;
}

.ml-0
{
    margin-left: 0 !important;
}

.my-16
{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.my-8
{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.mx-16
{
    margin-right: 16px;
    margin-left: 16px;
}

.pa-16
{
    padding: 16px !important;
}

.pa-8
{
    padding: 8px !important;
}

.pa-6
{
    padding: 6px !important;
}

.pa-4
{
    padding: 4px !important;
}

.pa-2
{
    padding: 2px !important;
}

.pa-0
{
    padding: 0;
}

.px-8
{
    padding-left: 8px;
    padding-right: 8px;
}

.py-8
{
    padding-top: 8px;
    padding-bottom: 8px;
}

.m-auto
{
    margin-left: auto !important;
    margin-right: auto !important;
}