.display-4
{
    font-size: 112px !important;
    font-weight: 300;
    line-height: 1 !important;
    letter-spacing: -.04em !important;
}

.display-3
{
    font-size: 56px !important;
    font-weight: 400;
    line-height: 1.35 !important;
    letter-spacing: -.02em !important;
}

.display-1, .display-2
{
    font-weight: 400;
    letter-spacing: normal !important;
}

.display-2
{
    font-size: 45px !important;
    line-height: 48px !important;
}

.display-1
{
    font-size: 34px !important;
    line-height: 40px !important;
}

.display-1,
.display-2
{
    font-weight: 400;
    letter-spacing: normal !important;
}

.headline
{
    font-size: 24px !important;
    font-weight: 400;
    line-height: 32px !important;
    letter-spacing: normal !important;
}

.title
{
    font-size: 20px !important;
    font-weight: 500;
    line-height: 1 !important;
    letter-spacing: .02em !important;
}

.subheading
{
    font-size: 16px !important;
    font-weight: 400;
}

.body-1,
.body-2
{
    font-size: 14px !important;
}

.body-2
{
    font-weight: 500;
}

.body-1,
.caption
{
    font-weight: 400;
}

.body-1,
.body-2
{
    font-size: 14px !important;
}

.caption
{
    font-size: 12px !important;
}

.body-1,
.caption
{
    font-weight: 400;
}

.vc-to-upper
{
    text-transform: uppercase;
}