.font-red
{
    color: #f44336;
}

.font-red.font-l-50
{
    color: #ffebee;
}

.font-red.font-l-100
{
    color: #ffcdd2;
}

.font-red.font-l-200
{
    color: #ef9a9a;
}

.font-red.font-l-300
{
    color: #e57373;
}

.font-red.font-l-400
{
    color: #ef5350;
}

.font-red.font-l-600
{
    color: #e53935;
}

.font-red.font-l-700
{
    color: #d32f2f;
}

.font-red.font-l-800
{
    color: #c62828;
}

.font-red.font-l-900
{
    color: #b71c1c;
}

.font-red.font-a-100
{
    color: #ff8a80;
}

.font-red.font-a-200,
.font-error
{
    color: #ff5252;
}

.font-red.font-a-400
{
    color: #ff1744;
}

.font-red.font-a-700
{
    color: #d50000;
}

.font-pink
{
    color: #e91e63;
}

.font-pink.font-l-50
{
    color: #fce4ec;
}

.font-pink.font-l-100
{
    color: #f8bbd0;
}

.font-pink.font-l-200
{
    color: #f48fb1;
}

.font-pink.font-l-300
{
    color: #f06292;
}

.font-pink.font-l-400
{
    color: #ec407a;
}

.font-pink.font-l-600
{
    color: #d81b60;
}

.font-pink.font-l-700
{
    color: #c2185b;
}

.font-pink.font-l-800
{
    color: #ad1457;
}

.font-pink.font-l-900
{
    color: #880e4f;
}

.font-pink.font-a-100
{
    color: #ff80ab;
}

.font-pink.font-a-200
{
    color: #ff4081;
}

.font-pink.font-a-400
{
    color: #f50057;
}

.font-pink.font-a-700
{
    color: #c51162;
}

.font-purple
{
    color: #9c27b0;
}

.font-purple.font-l-50
{
    color: #f3e5f5;
}

.font-purple.font-l-100
{
    color: #e1bee7;
}

.font-purple.font-l-200
{
    color: #ce93d8;
}

.font-purple.font-l-300
{
    color: #ba68c8;
}

.font-purple.font-l-400
{
    color: #ab47bc;
}

.font-purple.font-l-600
{
    color: #8e24aa;
}

.font-purple.font-l-700
{
    color: #7b1fa2;
}

.font-purple.font-l-800
{
    color: #6a1b9a;
}

.font-purple.font-l-900
{
    color: #4a148c;
}

.font-purple.font-a-100
{
    color: #ea80fc;
}

.font-purple.font-a-200
{
    color: #e040fb;
}

.font-purple.font-a-400
{
    color: #d500f9;
}

.font-purple.font-a-700
{
    color: #aa00ff;
}

.font-deep-purple
{
    color: #673ab7;
}

.font-deep-purple.font-l-50
{
    color: #ede7f6;
}

.font-deep-purple.font-l-100
{
    color: #d1c4e9;
}

.font-deep-purple.font-l-200
{
    color: #b39ddb;
}

.font-deep-purple.font-l-300
{
    color: #9575cd;
}

.font-deep-purple.font-l-400
{
    color: #7e57c2;
}

.font-deep-purple.font-l-600
{
    color: #5e35b1;
}

.font-deep-purple.font-l-700
{
    color: #512da8;
}

.font-deep-purple.font-l-800
{
    color: #4527a0;
}

.font-deep-purple.font-l-900
{
    color: #311b92;
}

.font-deep-purple.font-a-100
{
    color: #b388ff;
}

.font-deep-purple.font-a-200
{
    color: #7c4dff;
}

.font-deep-purple.font-a-400
{
    color: #651fff;
}

.font-deep-purple.font-a-700
{
    color: #6200ea;
}

.font-indigo
{
    color: #3f51b5;
}

.font-indigo.font-l-50
{
    color: #e8eaf6;
}

.font-indigo.font-l-100
{
    color: #c5cae9;
}

.font-indigo.font-l-200
{
    color: #9fa8da;
}

.font-indigo.font-l-300
{
    color: #7986cb;
}

.font-indigo.font-l-400
{
    color: #5c6bc0;
}

.font-indigo.font-l-600
{
    color: #3949ab;
}

.font-indigo.font-l-700
{
    color: #303f9f;
}

.font-indigo.font-l-800
{
    color: #283593;
}

.font-indigo.font-l-900
{
    color: #1a237e;
}

.font-indigo.font-a-100
{
    color: #8c9eff;
}

.font-indigo.font-a-200
{
    color: #536dfe;
}

.font-indigo.font-a-400
{
    color: #3d5afe;
}

.font-indigo.font-a-700
{
    color: #304ffe;
}

.font-blue,
.font-info,
.font-primary
{
    color: #2196f3;
}

.font-blue.font-l-50
{
    color: #e3f2fd;
}

.font-blue.font-l-100
{
    color: #bbdefb;
}

.font-blue.font-l-200
{
    color: #90caf9;
}

.font-blue.font-l-300
{
    color: #64b5f6;
}

.font-blue.font-l-400
{
    color: #42a5f5;
}

.font-blue.font-l-600
{
    color: #1e88e5;
}

.font-blue.font-l-700
{
    color: #1976d2;
}

.font-blue.font-l-800
{
    color: #1565c0;
}

.font-blue.font-l-900
{
    color: #0d47a1;
}

.font-blue.font-a-100
{
    color: #82b1ff;
}

.font-blue.font-a-200
{
    color: #448aff;
}

.font-blue.font-a-400
{
    color: #2979ff;
}

.font-blue.font-a-700
{
    color: #2962ff;
}

.font-light-blue
{
    color: #03a9f4;
}

.font-light-blue.font-l-50
{
    color: #e1f5fe;
}

.font-light-blue.font-l-100
{
    color: #b3e5fc;
}

.font-light-blue.font-l-200
{
    color: #81d4fa;
}

.font-light-blue.font-l-300
{
    color: #4fc3f7;
}

.font-light-blue.font-l-400
{
    color: #29b6f6;
}

.font-light-blue.font-l-600
{
    color: #039be5;
}

.font-light-blue.font-l-700
{
    color: #0288d1;
}

.font-light-blue.font-l-800
{
    color: #0277bd;
}

.font-light-blue.font-l-900
{
    color: #01579b;
}

.font-light-blue.font-a-100
{
    color: #80d8ff;
}

.font-light-blue.font-a-200
{
    color: #40c4ff;
}

.font-light-blue.font-a-400
{
    color: #00b0ff;
}

.font-light-blue.font-a-700
{
    color: #0091ea;
}

.font-cyan
{
    color: #00bcd4;
}

.font-cyan.font-l-50
{
    color: #e0f7fa;
}

.font-cyan.font-l-100
{
    color: #b2ebf2;
}

.font-cyan.font-l-200
{
    color: #80deea;
}

.font-cyan.font-l-300
{
    color: #4dd0e1;
}

.font-cyan.font-l-400
{
    color: #26c6da;
}

.font-cyan.font-l-600
{
    color: #00acc1;
}

.font-cyan.font-l-700
{
    color: #0097a7;
}

.font-cyan.font-l-800
{
    color: #00838f;
}

.font-cyan.font-l-900
{
    color: #006064;
}

.font-cyan.font-a-100
{
    color: #84ffff;
}

.font-cyan.font-a-200
{
    color: #18ffff;
}

.font-cyan.font-a-400
{
    color: #00e5ff;
}

.font-cyan.font-a-700
{
    color: #00b8d4;
}

.font-teal
{
    color: #009688;
}

.font-teal.font-l-50
{
    color: #e0f2f1;
}

.font-teal.font-l-100
{
    color: #b2dfdb;
}

.font-teal.font-l-200
{
    color: #80cbc4;
}

.font-teal.font-l-300
{
    color: #4db6ac;
}

.font-teal.font-l-400
{
    color: #26a69a;
}

.font-teal.font-l-600
{
    color: #00897b;
}

.font-teal.font-l-700
{
    color: #00796b;
}

.font-teal.font-l-800
{
    color: #00695c;
}

.font-teal.font-l-900
{
    color: #004d40;
}

.font-teal.font-a-100
{
    color: #a7ffeb;
}

.font-teal.font-a-200
{
    color: #64ffda;
}

.font-teal.font-a-400
{
    color: #1de9b6;
}

.font-teal.font-a-700
{
    color: #00bfa5;
}

.font-green,
.font-success
{
    color: #4caf50;
}

.font-green.font-l-50
{
    color: #e8f5e9;
}

.font-green.font-l-100
{
    color: #c8e6c9;
}

.font-green.font-l-200
{
    color: #a5d6a7;
}

.font-green.font-l-300
{
    color: #81c784;
}

.font-green.font-l-400
{
    color: #66bb6a;
}

.font-green.font-l-600
{
    color: #43a047;
}

.font-green.font-l-700
{
    color: #388e3c;
}

.font-green.font-l-800
{
    color: #2e7d32;
}

.font-green.font-l-900
{
    color: #1b5e20;
}

.font-green.font-a-100
{
    color: #b9f6ca;
}

.font-green.font-a-200
{
    color: #69f0ae;
}

.font-green.font-a-400
{
    color: #00e676;
}

.font-green.font-a-700
{
    color: #00c853;
}

.font-light-green
{
    color: #8bc34a;
}

.font-light-green.font-l-50
{
    color: #f1f8e9;
}

.font-light-green.font-l-100
{
    color: #dcedc8;
}

.font-light-green.font-l-200
{
    color: #c5e1a5;
}

.font-light-green.font-l-300
{
    color: #aed581;
}

.font-light-green.font-l-400
{
    color: #9ccc65;
}

.font-light-green.font-l-600
{
    color: #7cb342;
}

.font-light-green.font-l-700
{
    color: #689f38;
}

.font-light-green.font-l-800
{
    color: #558b2f;
}

.font-light-green.font-l-900
{
    color: #33691e;
}

.font-light-green.font-a-100
{
    color: #ccff90;
}

.font-light-green.font-a-200
{
    color: #b2ff59;
}

.font-light-green.font-a-400
{
    color: #76ff03;
}

.font-light-green.font-a-700
{
    color: #64dd17;
}

.font-lime
{
    color: #cddc39;
}

.font-lime.font-l-50
{
    color: #f9fbe7;
}

.font-lime.font-l-100
{
    color: #f0f4c3;
}

.font-lime.font-l-200
{
    color: #e6ee9c;
}

.font-lime.font-l-300
{
    color: #dce775;
}

.font-lime.font-l-400
{
    color: #d4e157;
}

.font-lime.font-l-600
{
    color: #c0ca33;
}

.font-lime.font-l-700
{
    color: #afb42b;
}

.font-lime.font-l-800
{
    color: #9e9d24;
}

.font-lime.font-l-900
{
    color: #827717;
}

.font-lime.font-a-100
{
    color: #f4ff81;
}

.font-lime.font-a-200
{
    color: #eeff41;
}

.font-lime.font-a-400
{
    color: #c6ff00;
}

.font-lime.font-a-700
{
    color: #aeea00;
}

.font-yellow
{
    color: #ffeb3b;
}

.font-yellow.font-l-50
{
    color: #fffde7;
}

.font-yellow.font-l-100
{
    color: #fff9c4;
}
.font-yellow.font-l-200
{
    color: #fff59d;
}
.font-yellow.font-l-300
{
    color: #fff176;
}
.font-yellow.font-l-400
{
    color: #ffee58;
}

.font-yellow.font-l-600
{
    color: #fdd835;
}

.font-yellow.font-l-700
{
    color: #fbc02d;
}

.font-yellow.font-l-800
{
    color: #f9a825;
}

.font-yellow.font-l-900
{
    color: #f57f17;
}

.font-yellow.font-a-100
{
    color: #ffff8d;
}

.font-yellow.font-a-200
{
    color: #ffff00;
}

.font-yellow.font-a-400
{
    color: #ffea00;
}

.font-yellow.font-a-700
{
    color: #ffd600;
}

.font-amber,
.font-warning
{
    color: #ffc107;
}

.font-amber.font-l-50
{
    color: #fff8e1;
}

.font-amber.font-l-100
{
    color: #ffecb3;
}

.font-amber.font-l-200
{
    color: #ffe082;
}

.font-amber.font-l-300
{
    color: #ffd54f;
}

.font-amber.font-l-400
{
    color: #ffca28;
}

.font-amber.font-l-600
{
    color: #ffb300;
}

.font-amber.font-l-700
{
    color: #ffa000;
}

.font-amber.font-l-800
{
    color: #ff8f00;
}
.font-amber.font-l-900
{
    color: #ff6f00;
}

.font-amber.font-a-100
{
    color: #ffe57f;
}

.font-amber.font-a-200
{
    color: #ffd740;
}

.font-amber.font-a-400
{
    color: #ffc400;
}

.font-amber.font-a-700
{
    color: #ffab00;
}

.font-orange
{
    color: #ff9800;
}

.font-orange.font-l-50
{
    color: #fff3e0;
}

.font-orange.font-l-100
{
    color: #ffe0b2;
}

.font-orange.font-l-200
{
    color: #ffcc80;
}

.font-orange.font-l-300
{
    color: #ffb74d;
}

.font-orange.font-l-400
{
    color: #ffa726;
}

.font-orange.font-l-600
{
    color: #fb8c00;
}

.font-orange.font-l-700
{
    color: #f57c00;
}

.font-orange.font-l-800
{
    color: #ef6c00;
}

.font-orange.font-l-900
{
    color: #e65100;
}

.font-orange.font-a-100
{
    color: #ffd180;
}

.font-orange.font-a-200
{
    color: #ffab40;
}

.font-orange.font-a-400
{
    color: #ff9100;
}

.font-orange.font-a-700
{
    color: #ff6d00;
}

.font-deep-orange
{
    color: #ff5722;
}

.font-deep-orange.font-l-50
{
    color: #fbe9e7;
}

.font-deep-orange.font-l-100
{
    color: #ffccbc;
}

.font-deep-orange.font-l-200
{
    color: #ffab91;
}

.font-deep-orange.font-l-300
{
    color: #ff8a65;
}

.font-deep-orange.font-l-400
{
    color: #ff7043;
}

.font-deep-orange.font-l-600
{
    color: #f4511e;
}

.font-deep-orange.font-l-700
{
    color: #e64a19;
}

.font-deep-orange.font-l-800
{
    color: #d84315;
}

.font-deep-orange.font-l-900
{
    color: #bf360c;
}

.font-deep-orange.font-a-100
{
    color: #ff9e80;
}

.font-deep-orange.font-a-200
{
    color: #ff6e40;
}

.font-deep-orange.font-a-400
{
    color: #ff3d00;
}

.font-deep-orange.font-a-700
{
    color: #dd2c00;
}

.font-brown
{
    color: #795548;
}

.font-brown.font-l-50
{
    color: #efebe9;
}

.font-brown.font-l-100
{
    color: #d7ccc8;
}

.font-brown.font-l-200
{
    color: #bcaaa4;
}

.font-brown.font-l-300
{
    color: #a1887f;
}

.font-brown.font-l-400
{
    color: #8d6e63;
}

.font-brown.font-l-600
{
    color: #6d4c41;
}
.font-brown.font-l-700
{
    color: #5d4037;
}
.font-brown.font-l-800
{
    color: #4e342e;
}
.font-brown.font-l-900
{
    color: #3e2723;
}

.font-grey,
.font-default
{
    color: #9e9e9e;
}

.font-grey.font-l-50
{
    color: #fafafa;
}

.font-grey.font-l-100
{
    color: #f5f5f5;
}

.font-grey.font-l-200
{
    color: #eeeeee;
}

.font-grey.font-l-300
{
    color: #e0e0e0;
}

.font-grey.font-l-400
{
    color: #bdbdbd;
}

.font-grey.font-l-600
{
    color: #757575;
}

.font-grey.font-l-700
{
    color: #616161;
}

.font-grey.font-l-800
{
    color: #424242;
}

.font-grey.font-l-900
{
    color: #212121;
}

.font-blue-grey
{
    color: #607d8b;
}

.font-blue-grey.font-l-50
{
    color: #eceff1;
}

.font-blue-grey.font-l-100
{
    color: #cfd8dc;
}

.font-blue-grey.font-l-200
{
    color: #b0bec5;
}

.font-blue-grey.font-l-300
{
    color: #90a4ae;
}

.font-blue-grey.font-l-400
{
    color: #78909c;
}

.font-blue-grey.font-l-600
{
    color: #546e7a;
}

.font-blue-grey.font-l-700
{
    color: #455a64;
}

.font-blue-grey.font-l-800
{
    color: #37474f;
}

.font-blue-grey.font-l-900
{
    color: #263238;
}

.font-black
{
    color: #000000;
}

.font-white
{
    color: #ffffff;
}

.font-transparent
{
    color: transparent;
}