/* Base styles for the element that has a tooltip */
[data-tooltip],
.vc-tooltip
{
    position: relative;
    cursor: pointer;
    overflow: visible !important;
}

/* Base styles for the entire tooltip */
[data-tooltip]::after,
.vc-tooltip::after
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(.71, 1.7, .77, 1.24);
    transform: translate3d(0, 0, 0);
    text-align: center;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    font-size: 12px;
}

[data-tooltip]:hover::after,
[data-tooltip]:focus::after,
.vc-tooltip:hover::after,
.vc-tooltip:focus::after
{
    visibility: visible;
    opacity: 1;
}

/* Base styles for the tooltip's content area */
.vc-tooltip::after,
[data-tooltip]::after
{
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, .9);
    color: #fff;
    content: attr(data-tooltip);
    line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]::after,
.vc-tooltip::after,
.vc-tooltip-top::after
{
    bottom: 100%;
    left: 50%;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]::after,
.vc-tooltip::after,
.vc-tooltip-top::after
{
    margin-left: -80px;
}

[data-tooltip]:hover::after,
[data-tooltip]:focus::after,
.vc-tooltip:hover::after,
.vc-tooltip:focus::after,
.vc-tooltip-top:hover::after,
.vc-tooltip-top:focus::after
{
    transform: translateY(-12px);
}

/* Left */
.vc-tooltip-left::after
{
    right: 100%;
    bottom: 50%;
    left: auto;
}

.vc-tooltip-left:hover::after,
.vc-tooltip-left:focus::after
{
    transform: translateX(-12px);
}

/* Bottom */
.vc-tooltip-bottom::after
{
    top: 100%;
    bottom: auto;
    left: 50%;
}

.vc-tooltip-bottom:hover::after,
.vc-tooltip-bottom:focus::after
{
    transform: translateY(12px);
}

/* Right */
.vc-tooltip-right::after
{
    bottom: 50%;
    left: 100%;
}

.vc-tooltip-right:hover::after,
.vc-tooltip-right:focus::after
{
    transform: translateX(12px);
}

/* Vertically center tooltip content for left/right tooltips */
.vc-tooltip-left::after,
.vc-tooltip-right::after
{
    margin-left: 0;
    margin-bottom: -16px;
}