<template>
  <li role="radio" :disabled="disabled" :class="['vc-radio', labelPosition === 'left' ? 'vc-radio-label-position-left' : null]">
    <label>
      <input
        @change="$parent.$emit('input', $event.target.value)"
        :checked="$parent.checked === value"
        type="radio"
        :name="name"
        :disabled="disabled"
        :value="value"
        tabindex="-1" />
      <span :class="['v-ripple', 'pointer-events-off', color]" />
      <strong>
        <slot v-if="labelPosition === 'left'" />
      </strong>
      <vc-icon :class="['vc-radio-unchecked']" :color="color">radio_button_unchecked</vc-icon>
      <vc-icon :class="['vc-radio-checked']" :color="color">radio_button_checked</vc-icon>
      <strong>
        <slot v-if="labelPosition === 'right'" />
      </strong>
    </label>
  </li>
</template>
<script>
export default {
  name: 'VcRadio',
  data () {
    return {
      name: this.$parent.name,
      labelPosition: this.$parent.labelPosition,
      color: this.$parent.color
    }
  },
  props: {
    value: {
      required: true
    },
    disabled: {
      type: Boolean,
      required: false
    }
  }
}
</script>
<style>
.vc-radio *
{
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
}

.vc-radio input,
.vc-radio .vc-icon
{
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.vc-radio input:not(:checked) ~ .vc-radio-unchecked,
.vc-radio input:checked ~ .vc-radio-checked
{
  opacity: 1;
  position: static;
}

.vc-radio[disabled] strong,
.vc-radio[disabled] .vc-icon
{
  color: rgba(0, 0, 0, .26) !important;
}

.vc-radio label
{
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.vc-radio .vc-icon
{
  top: -9999px;
  opacity: .25;
  transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.vc-radio strong
{
  line-height: 30px;
  font-size: 13px;
  color: #757575;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-radio[disabled] *
{
  cursor: not-allowed !important;
}
</style>
