<template>
  <div role="gridcell" :is="tag" :class="['vc-col', `vc-col-${span}`]" :style="style()">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'VcCol',
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    },
    span: {
      type: Number,
      required: true,
      validator (value) {
        if (value > 24 || value < 1) {
          console.warn(`"${value}" is incorrect value for the :span property of <vc-col />. You must supply a number between 1 and 12.`)
          return false
        }
        return true
      }
    }
  },
  methods: {
    style () {
      return {
        padding: `${this.$parent.spacing}px` || 0
      }
    }
  }
}
</script>
<style>
.vc-col-1
{
  width: 4.166666666666667%;
  flex-basis: 4.166666666666667%;
}

.vc-col-2
{
  width: 8.333333333333334%;
  flex-basis: 8.333333333333334%;
}

.vc-col-3
{
  width: 12.5%;
  flex-basis: 12.5%;
}

.vc-col-4
{
  width: 16.666666666666668%;
  flex-basis: 16.666666666666668%;
}

.vc-col-5
{
  width: 20.833333333333336%;
  flex-basis: 20.833333333333336%;
}

.vc-col-6
{
  width: 25%;
  flex-basis: 25%;
}

.vc-col-7
{
  width: 29.166666666666668%;
  flex-basis: 29.166666666666668%;
}

.vc-col-8
{
  width: 33.333333333333336%;
  flex-basis: 33.333333333333336%;
}

.vc-col-9
{
  width: 37.5%;
  flex-basis: 37.5%;
}

.vc-col-10
{
  width: 41.66666666666667%;
  flex-basis: 41.66666666666667%;
}

.vc-col-11
{
  width: 45.833333333333336%;
  flex-basis: 45.833333333333336%;
}

.vc-col-12
{
  width: 50%;
  flex-basis: 50%;
}

.vc-col-13
{
  width: 54.16666666666667%;
  flex-basis: 54.16666666666667%;
}

.vc-col-14
{
  width: 58.333333333333336%;
  flex-basis: 58.333333333333336%;
}

.vc-col-15
{
  width: 62.50000000000001%;
  flex-basis: 62.50000000000001%;
}

.vc-col-16
{
  width: 66.66666666666667%;
  flex-basis: 66.66666666666667%;
}

.vc-col-17
{
  width: 70.83333333333334%;
  flex-basis: 70.83333333333334%;
}

.vc-col-18
{
  width: 75%;
  flex-basis: 75%;
}

.vc-col-19
{
  width: 79.16666666666667%;
  flex-basis: 79.16666666666667%;
}

.vc-col-20
{
  width: 83.33333333333334%;
  flex-basis: 83.33333333333334%;
}

.vc-col-21
{
  width: 87.5%;
  flex-basis: 87.5%;
}

.vc-col-22
{
  width: 91.66666666666667%;
  flex-basis: 91.66666666666667%;
}

.vc-col-23
{
  width: 95.83333333333334%;
  flex-basis: 95.83333333333334%;
}

.vc-col-24
{
  width: 100%;
  flex-basis: 100%;
}

@media (max-width: 1920px)
{
  .vc-col[xl24]
  {
    width: 100%;
    flex-basis: 100%;
  }

  .vc-col[xl23]
  {
    width: 95.83333333333334%;
    flex-basis: 95.83333333333334%;
  }

  .vc-col[xl22]
  {
    width: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
  }

  .vc-col[xl21]
  {
    width: 87.5%;
    flex-basis: 87.5%;
  }

  .vc-col[xl20]
  {
    width: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
  }

  .vc-col[xl19]
  {
    width: 79.16666666666667%;
    flex-basis: 79.16666666666667%;
  }

  .vc-col[xl18]
  {
    width: 75%;
    flex-basis: 75%;
  }

  .vc-col[xl17]
  {
    width: 70.83333333333334%;
    flex-basis: 70.83333333333334%;
  }

  .vc-col[xl16]
  {
    width: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
  }

  .vc-col[xl15]
  {
    width: 62.50000000000001%;
    flex-basis: 62.50000000000001%;
  }

  .vc-col[xl14]
  {
    width: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
  }

  .vc-col[xl13]
  {
    width: 54.16666666666667%;
    flex-basis: 54.16666666666667%;
  }

  .vc-col[xl12]
  {
    width: 50%;
    flex-basis: 50%;
  }

  .vc-col[xl11]
  {
    width: 45.833333333333336%;
    flex-basis: 45.833333333333336%;
  }

  .vc-col[xl10]
  {
    width: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
  }

  .vc-col[xl9]
  {
    width: 37.5%;
    flex-basis: 37.5%;
  }

  .vc-col[xl8]
  {
    width: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }

  .vc-col[xl7]
  {
    width: 29.166666666666668%;
    flex-basis: 29.166666666666668%;
  }

  .vc-col[xl6]
  {
    width: 25%;
    flex-basis: 25%;
  }

  .vc-col[xl5]
  {
    width: 20.833333333333336%;
    flex-basis: 20.833333333333336%;
  }

  .vc-col[xl4]
  {
    width: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
  }

  .vc-col[xl3]
  {
    width: 12.5%;
    flex-basis: 12.5%;
  }

  .vc-col[xl2]
  {
    width: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
  }

  .vc-col[xl1]
  {
    width: 4.166666666666667%;
    flex-basis: 4.166666666666667%;
  }
}

@media (max-width: 1440px)
{
  .vc-col[lg24]
  {
    width: 100%;
    flex-basis: 100%;
  }

  .vc-col[lg23]
  {
    width: 95.83333333333334%;
    flex-basis: 95.83333333333334%;
  }

  .vc-col[lg22]
  {
    width: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
  }

  .vc-col[lg21]
  {
    width: 87.5%;
    flex-basis: 87.5%;
  }

  .vc-col[lg20]
  {
    width: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
  }

  .vc-col[lg19]
  {
    width: 79.16666666666667%;
    flex-basis: 79.16666666666667%;
  }

  .vc-col[lg18]
  {
    width: 75%;
    flex-basis: 75%;
  }

  .vc-col[lg17]
  {
    width: 70.83333333333334%;
    flex-basis: 70.83333333333334%;
  }

  .vc-col[lg16]
  {
    width: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
  }

  .vc-col[lg15]
  {
    width: 62.50000000000001%;
    flex-basis: 62.50000000000001%;
  }

  .vc-col[lg14]
  {
    width: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
  }

  .vc-col[lg13]
  {
    width: 54.16666666666667%;
    flex-basis: 54.16666666666667%;
  }

  .vc-col[lg12]
  {
    width: 50%;
    flex-basis: 50%;
  }

  .vc-col[lg11]
  {
    width: 45.833333333333336%;
    flex-basis: 45.833333333333336%;
  }

  .vc-col[lg10]
  {
    width: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
  }

  .vc-col[lg9]
  {
    width: 37.5%;
    flex-basis: 37.5%;
  }

  .vc-col[lg8]
  {
    width: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }

  .vc-col[lg7]
  {
    width: 29.166666666666668%;
    flex-basis: 29.166666666666668%;
  }

  .vc-col[lg6]
  {
    width: 25%;
    flex-basis: 25%;
  }

  .vc-col[lg5]
  {
    width: 20.833333333333336%;
    flex-basis: 20.833333333333336%;
  }

  .vc-col[lg4]
  {
    width: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
  }

  .vc-col[lg3]
  {
    width: 12.5%;
    flex-basis: 12.5%;
  }

  .vc-col[lg2]
  {
    width: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
  }

  .vc-col[lg1]
  {
    width: 4.166666666666667%;
    flex-basis: 4.166666666666667%;
  }
}

@media (max-width: 1024px)
{
  .vc-col[md24]
  {
    width: 100%;
    flex-basis: 100%;
  }

  .vc-col[md23]
  {
    width: 95.83333333333334%;
    flex-basis: 95.83333333333334%;
  }

  .vc-col[md22]
  {
    width: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
  }

  .vc-col[md21]
  {
    width: 87.5%;
    flex-basis: 87.5%;
  }

  .vc-col[md20]
  {
    width: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
  }

  .vc-col[md19]
  {
    width: 79.16666666666667%;
    flex-basis: 79.16666666666667%;
  }

  .vc-col[md18]
  {
    width: 75%;
    flex-basis: 75%;
  }

  .vc-col[md17]
  {
    width: 70.83333333333334%;
    flex-basis: 70.83333333333334%;
  }

  .vc-col[md16]
  {
    width: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
  }

  .vc-col[md15]
  {
    width: 62.50000000000001%;
    flex-basis: 62.50000000000001%;
  }

  .vc-col[md14]
  {
    width: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
  }

  .vc-col[md13]
  {
    width: 54.16666666666667%;
    flex-basis: 54.16666666666667%;
  }

  .vc-col[md12]
  {
    width: 50%;
    flex-basis: 50%;
  }

  .vc-col[md11]
  {
    width: 45.833333333333336%;
    flex-basis: 45.833333333333336%;
  }

  .vc-col[md10]
  {
    width: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
  }

  .vc-col[md9]
  {
    width: 37.5%;
    flex-basis: 37.5%;
  }

  .vc-col[md8]
  {
    width: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }

  .vc-col[md7]
  {
    width: 29.166666666666668%;
    flex-basis: 29.166666666666668%;
  }

  .vc-col[md6]
  {
    width: 25%;
    flex-basis: 25%;
  }

  .vc-col[md5]
  {
    width: 20.833333333333336%;
    flex-basis: 20.833333333333336%;
  }

  .vc-col[md4]
  {
    width: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
  }

  .vc-col[md3]
  {
    width: 12.5%;
    flex-basis: 12.5%;
  }

  .vc-col[md2]
  {
    width: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
  }

  .vc-col[md1]
  {
    width: 4.166666666666667%;
    flex-basis: 4.166666666666667%;
  }
}

@media (max-width: 960px)
{
  .vc-col[sm24]
  {
    width: 100%;
    flex-basis: 100%;
  }

  .vc-col[sm23]
  {
    width: 95.83333333333334%;
    flex-basis: 95.83333333333334%;
  }

  .vc-col[sm22]
  {
    width: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
  }

  .vc-col[sm21]
  {
    width: 87.5%;
    flex-basis: 87.5%;
  }

  .vc-col[sm20]
  {
    width: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
  }

  .vc-col[sm19]
  {
    width: 79.16666666666667%;
    flex-basis: 79.16666666666667%;
  }

  .vc-col[sm18]
  {
    width: 75%;
    flex-basis: 75%;
  }

  .vc-col[sm17]
  {
    width: 70.83333333333334%;
    flex-basis: 70.83333333333334%;
  }

  .vc-col[sm16]
  {
    width: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
  }

  .vc-col[sm15]
  {
    width: 62.50000000000001%;
    flex-basis: 62.50000000000001%;
  }

  .vc-col[sm14]
  {
    width: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
  }

  .vc-col[sm13]
  {
    width: 54.16666666666667%;
    flex-basis: 54.16666666666667%;
  }

  .vc-col[sm12]
  {
    width: 50%;
    flex-basis: 50%;
  }

  .vc-col[sm11]
  {
    width: 45.833333333333336%;
    flex-basis: 45.833333333333336%;
  }

  .vc-col[sm10]
  {
    width: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
  }

  .vc-col[sm9]
  {
    width: 37.5%;
    flex-basis: 37.5%;
  }

  .vc-col[sm8]
  {
    width: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }

  .vc-col[sm7]
  {
    width: 29.166666666666668%;
    flex-basis: 29.166666666666668%;
  }

  .vc-col[sm6]
  {
    width: 25%;
    flex-basis: 25%;
  }

  .vc-col[sm5]
  {
    width: 20.833333333333336%;
    flex-basis: 20.833333333333336%;
  }

  .vc-col[sm4]
  {
    width: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
  }

  .vc-col[sm3]
  {
    width: 12.5%;
    flex-basis: 12.5%;
  }

  .vc-col[sm2]
  {
    width: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
  }

  .vc-col[sm1]
  {
    width: 4.166666666666667%;
    flex-basis: 4.166666666666667%;
  }
}

@media (max-width: 480px)
{
  .vc-col[xs24]
  {
    width: 100%;
    flex-basis: 100%;
  }

  .vc-col[xs23]
  {
    width: 95.83333333333334%;
    flex-basis: 95.83333333333334%;
  }

  .vc-col[xs22]
  {
    width: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
  }

  .vc-col[xs21]
  {
    width: 87.5%;
    flex-basis: 87.5%;
  }

  .vc-col[xs20]
  {
    width: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
  }

  .vc-col[xs19]
  {
    width: 79.16666666666667%;
    flex-basis: 79.16666666666667%;
  }

  .vc-col[xs18]
  {
    width: 75%;
    flex-basis: 75%;
  }

  .vc-col[xs17]
  {
    width: 70.83333333333334%;
    flex-basis: 70.83333333333334%;
  }

  .vc-col[xs16]
  {
    width: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
  }

  .vc-col[xs15]
  {
    width: 62.50000000000001%;
    flex-basis: 62.50000000000001%;
  }

  .vc-col[xs14]
  {
    width: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
  }

  .vc-col[xs13]
  {
    width: 54.16666666666667%;
    flex-basis: 54.16666666666667%;
  }

  .vc-col[xs12]
  {
    width: 50%;
    flex-basis: 50%;
  }

  .vc-col[xs11]
  {
    width: 45.833333333333336%;
    flex-basis: 45.833333333333336%;
  }

  .vc-col[xs10]
  {
    width: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
  }

  .vc-col[xs9]
  {
    width: 37.5%;
    flex-basis: 37.5%;
  }

  .vc-col[xs8]
  {
    width: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
  }

  .vc-col[xs7]
  {
    width: 29.166666666666668%;
    flex-basis: 29.166666666666668%;
  }

  .vc-col[xs6]
  {
    width: 25%;
    flex-basis: 25%;
  }

  .vc-col[xs5]
  {
    width: 20.833333333333336%;
    flex-basis: 20.833333333333336%;
  }

  .vc-col[xs4]
  {
    width: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
  }

  .vc-col[xs3]
  {
    width: 12.5%;
    flex-basis: 12.5%;
  }

  .vc-col[xs2]
  {
    width: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
  }

  .vc-col[xs1]
  {
    width: 4.166666666666667%;
    flex-basis: 4.166666666666667%;
  }
}
</style>
