<template>
  <div role="list" :class="['vc', 'vc-list', !divider ? 'vc-list-border-off' : '']">
    <ul>
      <slot></slot>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'VcList',
  props: {
    divider: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
<style>
.vc-list,
.vc-list > ul,
.vc-list > ul > li
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

.vc-list a.vc-table-layout,
.vc-list a.vc-table-layout *
{
  text-decoration: none;
  cursor: pointer;
}

.vc-list .click-target:hover .vc-table-layout,
.vc-list a.vc-table-layout:hover,
.vc-list a.router-link-exact-active
{
  background: rgba(0, 0, 0, .12);
}

.vc-list.vc-list-border-off .vc-table-layout,
.vc-list > ul > li:last-child .vc-table-layout
{
  border: 0;
}

.vc-list
{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-list .vc-table-layout
{
  background: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, .12);
}

.vc-list .vc-table-layout > * > span
{
  padding: 8px;
}

.vc-list .vc-table-layout > * > span:empty
{
  display: none;
}

.vc-list .vc-table-layout > * > span:nth-child(1)
{
  width: 52px;
}

.vc-list .vc-table-layout > * > span:nth-child(3)
{
  width: 36px;
}

.vc-list .vc-table-layout
{
  transition: .3s cubic-bezier(.25, .8, .5 ,1)
}

.vc-list li[disabled]
{
  cursor: not-allowed;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  opacity: .25;
}
</style>
