<template>
  <div :class="['vc-dialog-header', $parent.color, $parent.dark ? 'vc-dark' : 'vc-light']">
    <div :class="['vc-table-layout']">
      <div>
        <div :class="['vc-dialog-header-icon']" v-if="icon">
          <vc-icon>{{ icon }}</vc-icon>
        </div>
        <div :class="['vc-dialog-header-title']">
          <div>
            <slot />
          </div>
        </div>
        <div :class="['vc-dialog-header-close']" v-if="closeButton">
          <vc-icon size="medium" @click.native="close">close</vc-icon>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'VcDialogHeader',
  data () {
    return {}
  },
  props: {
    closeButton: {
      type: Boolean,
      required: false,
      default: true
    },
    icon: {
      type: String,
      required: false
    }
  },
  methods: {
    close () {
      this.$parent.close()
    }
  }
}
</script>
<style>
.vc-dialog-header
{
  user-select: none;
  padding: 8px 0;
}

.vc-dialog-header-title
{
  padding: 0 8px;
}

.vc-dialog-header-title > div
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.vc-dialog-header-icon
{
  width: 40px;
}

.vc-dialog-header-icon .vc-icon
{
  margin: 0 0 0 16px;
}

.vc-dialog-header-close
{
  width: 48px;
  text-align: right;
}

.vc-dialog-header-close .vc-icon
{
  margin: 0 16px 0 0;
  cursor: pointer;
}

.vc-dialog-header .vc-icon
{
  color: inherit;
}
</style>
