<template>
  <div :class="['vc-toolbar-icon', 'vc-toolbar-icon-left']">
    <vc-button :color="buttonColor" :dark="buttonDark" icon-button @click="$emit('click')">
      <vc-icon>{{ icon }}</vc-icon>
    </vc-button>
  </div>
</template>
<script>
export default {
  name: 'VcToolbarIconLeft',
  computed: {
    buttonColor () {
      return this.color || 'transparent'
    },
    buttonDark () {
      return this.dark || this.$parent.dark
    }
  },
  props: {
    icon: {
      type: String,
      required: false,
      default: 'menu'
    },
    color: {
      type: String,
      required: false
    },
    dark: {
      type: Boolean,
      required: false
    }
  }
}
</script>
<style>

</style>
