<template>
  <div role="checkbox" :class="['vc', 'vc-checkbox', 'no-select', labelPosition === 'left' ? 'vc-checkbox-label-position-left' : null]" :disabled="disabled">
    <label>
      <input
        v-if="Array.isArray(checked)"
        type="checkbox"
        tabindex="-1"
        :id="id"
        :name="name"
        :aria-checked="checked.includes(value)"
        :checked="checked.includes(value)"
        :disabled="disabled"
        @change="change" />
      <input
        v-else
        type="checkbox"
        tabindex="-1"
        :id="id"
        :aria-checked="checked"
        :name="name"
        :checked="checked"
        :disabled="disabled"
        @change="$emit('input', !checked)" />
      <span :class="['v-ripple', 'pointer-events-off', color]" />
      <strong v-if="labelPosition === 'left'" :class="['vc-checkbox-label', 'vc-checkbox-label-left', dark ? 'vc-dark' : 'vc-light']">
        <slot />
      </strong>
      <vc-icon :color="color" :class="['vc-checkbox-checked']">check_box</vc-icon>
      <vc-icon :color="color" :class="['vc-checkbox-unchecked']">check_box_outline_blank</vc-icon>
      <strong v-if="labelPosition === 'right'" :class="['vc-checkbox-label', 'vc-checkbox-label-right', dark ? 'vc-dark' : 'vc-light']">
        <slot />
      </strong>
    </label>
  </div>
</template>
<script>
import checkbox from '../../mixins/checkbox'

export default {
  name: 'VcCheckbox',
  mixins: [
    checkbox
  ],
  model: {
    prop: 'checked',
    event: 'input'
  }
}
</script>
<style>
.vc-checkbox,
.vc-checkbox *
{
  cursor: pointer;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.vc-checkbox input,
.vc-checkbox .vc-icon
{
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.vc-checkbox label
{
  position: relative;
}

.vc-checkbox .vc-icon
{
  opacity: .25;
  top: -9999px;
  /*transform: scale(1.35);*/
  transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.vc-checkbox input:checked ~ .vc-checkbox-checked,
.vc-checkbox input:not(:checked) ~ .vc-checkbox-unchecked
{
  position: static;
  /*transform: scale(1);*/
  opacity: 1;
}

.vc-checkbox[disabled] strong,
.vc-checkbox[disabled] .vc-icon
{
  color: rgba(0, 0, 0, .26) !important;
}

.vc-checkbox strong
{
  line-height: 30px;
  font-size: 13px;
  color: #757575;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.vc-checkbox strong:empty
{
  display: none;
}

.vc-checkbox[disabled] *
{
  cursor: not-allowed !important;
}
</style>
