<template>
  <div :class="['vc-dialog-footer']">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'VcDialogFooter',
  data () {
    return {}
  }
}
</script>
<style>
.vc-dialog-footer
{
  padding: 16px;
  font-size: 14px;
  text-align: right;
}
</style>
