<template>
  <transition name="opacity">
    <div role="dialog" v-if="show" :class="['vc', 'vc-dialog', modal ? 'vc-dialog-modal' : null, fullscreen ? 'vc-dialog-fullscreen' : null]" @click="closeOverlay" :style="{zIndex: zIndex}">
      <div :class="['vc-dialog-box']" @click.stop :style="{maxWidth: width}">
        <transition name="scale">
          <div :class="['vc-dialog-box-wrapper', 'elevation-24']">
            <slot />
          </div>
        </transition>
      </div>
    </div>
  </transition>
</template>
<script>
import methods from '../../mixins/methods'

export default {
  name: 'VcDialog',
  mixins: [
    methods
  ],
  watch: {
    show () {
      if (this.show) {
        this.disableScroll()
      } else {
        this.enableScroll()
      }
    }
  },
  props: {
    zIndex: {
      type: Number,
      required: false,
      default: 1500
    },
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    modal: {
      type: Boolean,
      required: false,
      default: false
    },
    width: {
      type: String,
      required: false,
      default: '320px'
    },
    color: {
      type: String,
      required: false,
      default: 'primary'
    },
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    closeOnOutsideClick: {
      type: Boolean,
      required: false,
      default: true
    },
    fullscreen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    closeOverlay () {
      if (this.closeOnOutsideClick) {
        this.close()
      }
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>
<style>
.opacity-enter,
.opacity-leave-to
{
  opacity: 0;
}

.vc-dialog
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 1500;*/
  pointer-events: none;
}

.vc-dialog-modal
{
  pointer-events: all;
  background: rgba(33, 33, 33, .35);
}

.vc-dialog-box
{
  position: absolute;
  pointer-events: all;
  min-width: 320px;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 16px;
}

.vc-dialog-box-wrapper
{
  background: #fff;
}

.opacity-enter-active
{
  transition: opacity .3s ease;
}
.opacity-leave-active
{
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.vc-dialog.vc-dialog-fullscreen .vc-dialog-box
{
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: initial !important;
}

.vc-dialog.vc-dialog-fullscreen .vc-dialog-box-wrapper
{
  height: 100% !important;
}
</style>
