<template>
  <div role="navigation" aria-label="pagination" :class="['vc', 'vc-pager', `vc-pager-${align}`, round ? 'vc-pager-round' : null]">
    <vc-button
      @click="$emit('input', 1)"
      v-if="showFirstLast"
      :class="['vc-pager-control-button']"
      :size="size"
      :disabled="checked === 1"
      :dark="dark"
      :color="shortcutIconsColor">
      <vc-icon>{{ iconFirst }}</vc-icon>
    </vc-button>
    <vc-button
      @click="$emit('input', checked - 1)"
      v-if="showPrevNext"
      :class="['vc-pager-control-button']"
      :size="size"
      :disabled="checked === 1"
      :dark="dark"
      :color="shortcutIconsColor">
      <vc-icon>{{ iconPrev }}</vc-icon>
    </vc-button>
    <vc-button
      @click="$emit('input', page)"
      v-for="(page, index) in pages"
      :size="size"
      :dark="dark"
      :color="page === checked ? currentPageColor : color"
      :aria-selected="page === checked ? true : false"
      :aria-label="buttonLabel ? buttonLabel.call(this, {page: page, index: index, pages: pages}) : page"
      :key="index">{{ buttonLabel ? buttonLabel.call(this, {page: page, index: index, pages: pages}) : page }}</vc-button>
    <vc-button
      @click="$emit('input', checked + 1)"
      v-if="showPrevNext"
      :class="['vc-pager-control-button']"
      :size="size"
      :disabled="checked === pages"
      :dark="dark"
      :color="shortcutIconsColor">
      <vc-icon>{{ iconNext }}</vc-icon>
    </vc-button>
    <vc-button
      @click="$emit('input', pages)"
      v-if="showFirstLast"
      :class="['vc-pager-control-button']"
      :size="size"
      :disabled="checked === pages"
      :dark="dark"
      :color="shortcutIconsColor">
      <vc-icon>{{ iconLast }}</vc-icon>
    </vc-button>
  </div>
</template>
<script>
export default {
  name: 'VcPager',
  model: {
    prop: 'checked',
    event: 'input'
  },
  props: {
    value: null,
    checked: null,
    dark: {
      type: Boolean,
      required: false,
      default: true
    },
    buttonLabel: {
      type: [Number, Function],
      requiredL: false
    },
    size: {
      type: String,
      required: false,
      default: 'normal'
    },
    color: {
      type: String,
      required: false,
      default: 'blue'
    },
    currentPageColor: {
      type: String,
      required: false,
      default: 'blue l-900'
    },
    showPrevNext: {
      type: Boolean,
      required: false,
      default: true
    },
    showFirstLast: {
      type: Boolean,
      required: false,
      default: true
    },
    shortcutIconsColor: {
      type: String,
      required: false,
      default: 'grey l-800'
    },
    iconNext: {
      type: String,
      required: false,
      default: 'chevron_right'
    },
    iconPrev: {
      type: String,
      required: false,
      default: 'chevron_left'
    },
    iconLast: {
      type: String,
      required: false,
      default: 'mdi-page-last'
    },
    iconFirst: {
      type: String,
      required: false,
      default: 'mdi-page-first'
    },
    pages: {
      type: Number,
      required: false,
      default: 0
    },
    align: {
      type: String,
      required: false,
      default: 'left'
    },
    round: {
      type: Boolean,
      required: false
    }
  }
}
</script>
<style>
.vc-pager .vc-button.vc-normal
{
  min-width: 40px;
  display: inline-flex;
  justify-content: center;
}

.vc-pager .vc-button.vc-small
{
  min-width: 28px;
}

.vc-pager .vc-button.vc-large
{
  min-width: 44px;
}

.vc-pager .vc-button:first-of-type
{
  margin-left: 0;
}

.vc-pager .vc-button:last-of-type
{
  margin-right: 0;
}

.vc-pager
{
  display: flex;
}

.vc-pager.vc-pager-center
{
  justify-content: center;
}

.vc-pager.vc-pager-left
{
  justify-content: flex-start;
}

.vc-pager.vc-pager-right
{
  justify-content: flex-end;
}

.vc-pager .vc-button
{
  margin-left: 2px;
  margin-right: 2px
}

.vc-pager.vc-pager-round .vc-button
{
  border-radius: 100%;
}
</style>
