<template>
  <div @click="$emit('click')" role="presentation" :is="tag" :to="href" :href="href" :class="['vc', 'vc-card', 'elevation-1']">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'VcCard',
  props: {
    tag: {
      type: String,
      required: false,
      default: 'section'
    },
    href: {
      type: String,
      required: false
    }
  }
}
</script>
<style>
.vc-card,
.vc-card-text.grey,
.vc-card-media.grey,
.vc-card-title.grey,
.vc-card-actions.grey
{
  background-color: #fff;
}

.vc-card
{
  display: block;
  color: rgba(0, 0, 0, .87);
  border-radius: 2px;
  overflow: hidden;
}

.vc-card > *
{
  display: block;
}

a.vc-card
{
  cursor: pointer;
  text-decoration: none;
}
</style>
