<template>
  <div role="switch" :class="['vc', 'vc-switcher']" :disabled="disabled">
    <label>
      <input
        v-if="Array.isArray(checked)"
        type="checkbox"
        tabindex="-1"
        :id="id"
        :name="name"
        :aria-checked="checked.includes(value)"
        :checked="checked.includes(value)"
        :disabled="disabled"
        @change="change" />
      <input
        v-else
        type="checkbox"
        tabindex="-1"
        :id="id"
        :name="name"
        :aria-checked="checked"
        :checked="checked"
        :disabled="disabled"
        @change="$emit('input', !checked)" />
      <strong v-if="labelPosition === 'left'" :class="['vc-switcher-label', 'vc-switcher-label-left', dark ? 'vc-dark' : 'vc-light']">
        <slot />
      </strong>
      <span :class="[color]" />
      <strong v-if="labelPosition === 'right'" :class="['vc-switcher-label', 'vc-switcher-label-right', dark ? 'vc-dark' : 'vc-light']">
        <slot />
      </strong>
    </label>
  </div>
</template>
<script>
import checkbox from '../../mixins/checkbox'

export default {
  name: 'VcSwitcher',
  mixins: [
    checkbox
  ],
  model: {
    prop: 'checked',
    event: 'input'
  }
}
</script>
<style>
.vc-switcher,
.vc-switcher *
{
  white-space: nowrap;
}

.vc-switcher input,
.vc-switcher input ~ span::after,
.vc-switcher input ~ span::before
{
  position: absolute;
}

.vc-switcher,
.vc-switcher strong,
.vc-switcher input ~ span
{
  display: inline-block;
  vertical-align: middle;
}

.vc-switcher input ~ span,
.vc-switcher input ~ span::after
{
  transition: all .25s ease-in-out;
}

.vc-switcher input ~ span::after,
.vc-switcher input ~ span::before
{
  content: "";
  pointer-events: none;
  left: 0;
}

.vc-switcher input ~ span,
.vc-switcher input ~ span::before
{
  width: 34px;
  height: 14px;
  border-radius: 8px;
}

.vc-switcher
{
  user-select: none;
  margin: 4px 0;
}

.vc-switcher *
{
  font-weight: normal;
  cursor: pointer;
}

.vc-switcher input
{
  clip: rect(0, 0, 0, 0);
}

.vc-switcher input ~ span
{
  position: relative;
}

.vc-switcher input:not(:checked) ~ span
{
  background: rgba(0, 0, 0, .38);
}

.vc-switcher input ~ span::after
{
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 36px;
  top: -3px;
}

.vc-switcher input ~ span::before
{
  top: 0;
  background: rgba(255, 255, 255, .35);
}

.vc-switcher input:checked ~ span::after
{
  background: inherit;
  left: 16px;
}

.vc-switcher strong
{
  line-height: 30px;
  font-size: 13px;
  color: #757575;
  padding: 0 4px;
}

.vc-switcher .vc-switcher-label-left
{
  padding-left: 0;
}

.vc-switcher .vc-switcher-label-left ~ span
{
  margin-right: 4px;
}

.vc-switcher strong:empty
{
  display: none;
}

.vc-switcher[disabled] span
{
  background: rgba(0, 0, 0, .12) !important;
}

.vc-switcher[disabled] *,
.vc-switcher[disabled] input ~ span::after
{
  cursor: not-allowed !important;
  box-shadow: none !important;
}

.vc-switcher[disabled] span::after
{
  background: #e0e0e0 !important;
}

.vc-switcher[disabled] strong
{
  color: rgba(0, 0, 0, .26) !important
}
</style>
