<template>
  <div :class="['vc-timeline-story-box']">
    <h4 v-if="title" v-html="title" :class="titleClass" />
    <div v-if="title" :class="borderClass" />
    <p v-if="story" v-html="story" :class="captionClass" />
  </div>
</template>
<script>
export default {
  name: 'VcTimelineStory',
  props: {
    title: {
      type: String,
      required: false
    },
    story: {
      type: String,
      required: false
    },
    titleClass: {},
    borderClass: {},
    captionClass: {}
  }
}
</script>
