<template>
  <div
    aria-label="splitbutton"
    @keydown.esc="expanded = false"
    :class="['vc', 'vc-button-split', `vc-button-split-${mode}`, expanded ? 'vc-button-split-expanded' : null]"
    ref="vc-button-split"
    :disabled="disabled">
    <div :class="['vc-button-split-header', 'elevation-2']">
      <vc-button
        @click="onHeaderClick"
        :color="color"
        :dark="dark"
        :icon-left="icon"
        :disabled="disabled"
        :size="size">
        <slot />
      </vc-button><vc-button
        @click="expanded = !expanded"
        :size="size"
        :color="color"
        :dark="dark"
        :disabled="disabled"
        :class="['vc-button-split-arrow']"><vc-icon>arrow_drop_down</vc-icon></vc-button>
    </div>
    <div role="listbox" :class="['vc-button-split-dropdown', 'elevation-8']" v-if="items.length" :style="dropdownStyles">
      <vc-list>
        <vc-list-item
          v-ripple
          v-for="(item, index) in items"
          @click="onItemClick(item)"
          :disabled="item.disabled"
          :key="index"
          :avatar="item.avatar"
          :icon="item.icon"
        >
          <vc-list-item-primary-text v-html="item.label" />
          <vc-list-item-secondary-text v-html="item.secondaryText" />
        </vc-list-item>
      </vc-list>
    </div>
  </div>
</template>
<script>
import props from '../../mixins/props'

export default {
  name: 'VcButtonSplit',
  mixins: [
    props
  ],
  data () {
    return {
      expanded: false,
      dropdownStyles: {
        width: `${this.dropdownWidth}`,
        maxHeight: `${this.dropdownMaxHeight}`,
        zIndex: this.dropdownZIndex
      }
    }
  },
  model: {
    prop: 'checked',
    event: 'input'
  },
  props: {
    size: {
      type: String,
      required: false,
      default: 'normal' // small, normal, large
    },
    items: {
      type: Array,
      required: false
    },
    mode: {
      type: String,
      required: false,
      default: 'split'
    },
    icon: {
      type: String,
      required: false,
      default: null
    },
    dropdownWidth: {
      type: String,
      required: false,
      default: '200px'
    },
    dropdownMaxHeight: {
      type: String,
      required: false,
      default: '324px'
    },
    dropdownZIndex: {
      type: Number,
      required: false,
      default: 500
    },
    disabled: {
      type: Boolean,
      required: false
    },
    headerClickValue: {
      type: [Number, String, Boolean],
      required: true
    }
  },
  created () {
    document.addEventListener('click', this.documentClick)
  },
  destroyed () {
    document.removeEventListener('click', this.documentClick)
  },
  methods: {
    documentClick (e) {
      let el = this.$refs['vc-button-split']
      let target = e.target
      if (el !== target && !el.contains(target)) {
        this.expanded = false
      }
    },
    onHeaderClick () {
      if (this.mode === 'menu') {
        this.expanded = !this.expanded
        return
      }
      this.$emit('input', this.headerClickValue)
    },
    onItemClick (item) {
      this.$emit('input', item.value)
      this.expanded = false
    }
  }
}
</script>
<style>
.vc-button-split
{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.vc-button-split .vc-button
{
  margin: 0;
}

.vc-button-split .vc-button-split-header
{
  white-space: nowrap;
}

.vc-button-split .vc-button-split-arrow
{
  padding: 0;
  min-width: auto;
}

.vc-button-split[disabled] .vc-button-split-header,
.vc-button-split .vc-button:last-of-type,
.vc-button-split .vc-button:first-of-type
{
  box-shadow: none !important;
}

.vc-button-split .vc-button:first-of-type
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vc-button-split .vc-button:last-of-type
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vc-button-split .vc-button-split-dropdown
{
  border-radius: 2px;
  margin: 2px 0 0;
  overflow: auto;
  text-align: left;
  position: absolute;
  opacity: 0;
  top: -9999px;
  background: #fff;
  transition: opacity .3s .1s ease-in-out;
}

.vc-button-split.vc-button-split-expanded .vc-button-split-dropdown
{
  opacity: 1;
  top: auto;
}

.vc-button-split .vc-button-split-arrow .vc-icon
{
  transition: transform .3s ease-in-out;
}

.vc-button-split.vc-button-split-expanded .vc-button-split-arrow .vc-icon
{
  transform: rotate(-180deg);
}

.vc-button-split.vc-button-split-split .vc-button-split-arrow
{
  border-left: solid 1px rgba(255, 255, 255, .4)
}

.vc-button-split.vc-button-split-split .vc-button:first-of-type
{
  padding-right: 8px;
}

.vc-button-split .vc-list li
{
  cursor: pointer;
}

.vc-button-split .vc-list li .vc-table-layout
{
  transition: all .3s ease-in-out;
}

.vc-button-split .vc-list li:hover .vc-table-layout
{
  background: #e0e0e0;
}
</style>
